---
import Profile from "./Profile.astro";
import StudentCouncil from "./StudentCouncil/index.astro";
---

<main class="md:text-lg flex flex-col flex-1 items-center justify-center">
  <Profile />
  <div class="flex flex-col max-w-7xl w-full bg-white border-l border-r">
    <StudentCouncil />
  </div>
</main>
{
  /*<script>
  import { animate } from "./animate";
  document.querySelectorAll("article").forEach((article) => {
    article.style.opacity = "0";
    animate(article);
  });
</script>*/
}
