---
import { classNames } from "@/utils";
import { Image } from "@astrojs/image/components";
import { defaultClassName } from "./statics";
import Typewriter from "@/components/markdown/Typewriter/index.astro";
---

<section
  id="intro"
  class={classNames(
    `flex flex-col justify-center bg-yellow-50 p-6`,
    defaultClassName
  )}
>
  <div
    class="max-w-5xl flex-1 w-full flex flex-col md:flex-row p-8 h-full items-center justify-start"
  >
    <div
      id="head"
      class="flex flex-col flex-grow items-start justify-center gap-4 md:gap-6 text-xl"
    >
      <p>ผมเป็น</p>
      <Typewriter
        strings={[
          "นักเรียน",
          "โปรแกรมเมอร์",
          "ฝ่ายเทคนิค",
          "นักตัดต่อวิดีโอ",
          "วิศวกรเสียง",
          "ทุกอย่างที่เกี่ยวกับเทคโนโลยี",
        ]}
      >
        <h1></h1>
      </Typewriter>
      <p class="text-xl">
        ยินดีต้อนรับเข้าสู่เว็บไซต์ครับ ผมชื่อนายศักดิธัช ธนาสดใส
      </p>
    </div>
    <div class="relative max-w-xs md:max-w-[unset]">
      <div class="bg-amber-300 bg-opacity-50 pt-6">
        <Image
          src="/images/landing.png"
          alt="Landing"
          width={400}
          height={400}
        />
      </div>
      <div></div>
    </div>
  </div>
</section>
