---
import { classNames } from "@/utils";
import { Image } from "@astrojs/image/components";
import { defaultClassName } from "./statics";
---

<section
  id="intro"
  class={classNames(
    `flex items-start justify-center bg-yellow-50 p-6`,
    defaultClassName
  )}
>
  <div
    class="max-w-5xl w-full flex flex-row p-8 h-full items-center justify-start"
  >
    <div
      class="flex flex-col flex-grow items-start justify-center gap-6 text-xl"
    >
      <h1>Hello!</h1>
      <p class="text-xl">To Be Filled.</p>
    </div>
    <div class="relative">
      <div class="bg-amber-300 bg-opacity-50 pt-6">
        <Image
          src="/images/landing.png"
          alt="Landing"
          width={400}
          height={400}
        />
      </div>
      <div></div>
    </div>
  </div>
</section>
