---
import Tweet from "./Tweet.astro";
import ProjectBlock from "./ProjectBlock.astro";
---

<section id="proud-to-present">
  <Tweet>
    <div class="space-y-1 w-full">
      <b>ผลงานที่ภูมิใจนำเสนอ</b>
      <p>
        ผลงานแต่ละผลงานจะมีการอธิบายที่มาของการจัดทำผลงาน หลักการทำงาน
        ผลตอบรับจากการทำผลงาน รวมทั้งการประเมินตนเองถึงปัญหาและข้อบกพร่องต่าง ๆ
        เพื่อนำไปพัฒนาไนผลงานชิ้นถัด ๆ ไป
      </p>
      <div class="grid lg:grid-cols-2 py-2 gap-5 lg:gap-6">
        <ProjectBlock slug="pm-station" />
        <ProjectBlock slug="pm-online-quiz" />
      </div>
    </div>
  </Tweet>
</section>
