---
import { getI18nMarkdown } from "@/utils/i18n";

import Tweet from "./Tweet.astro";
import ProjectBlock from "./ProjectBlock.astro";

const { data: station } = await getI18nMarkdown("projects", "pm-station");
const { data: quiz } = await getI18nMarkdown("projects", "pm-online-quiz");
---

<section id="proud-to-present">
  <Tweet>
    <div class="space-y-1 w-full">
      <b>ผลงานที่ภูมิใจนำเสนอ</b>
      <p>
        ผลงานแต่ละผลงานจะมีการอธิบายที่มาของการจัดทำผลงาน หลักการทำงาน
        ผลตอบรับจากการทำผลงาน รวมทั้งการประเมินตนเองถึงปัญหาและข้อบกพร่องต่าง ๆ
        เพื่อนำไปพัฒนาไนผลงานชิ้นถัด ๆ ไป
      </p>
      <div class="grid lg:grid-cols-2 py-2 gap-5 lg:gap-6">
        <ProjectBlock data={station} slug="pm-station" />
        <ProjectBlock data={quiz} slug="pm-online-quiz" />
      </div>
    </div>
  </Tweet>
</section>
