---
import SkillImage from "../../components/SkillImage/index.astro";
import { classNames } from "@/utils";

import { skillImages } from "../statics";
import Tweet from "./Tweet.astro";
---

<section id="tech-stack">
  <Tweet>
    <b>ทักษะต่าง ๆ</b>
    <div class="flex flex-col lg:flex-row gap-4 py-2 md:gap-8">
      <div class="space-y-3 max-w-2xl">
        <p>
          ปัจจุบันผมถนัดเขียนโปรแกรมด้วย JavaScript
          ไม่ว่าจะเป็นการเขียนเว็บไซต์ด้วย React อย่าง Next.js, Remix
          การเขียนโปรแกรมฝั่ง Server side ด้วย Node.js
          หรือการเขียนแอปพลิเคชันบนมือถืออย่าง React Native เป็นต้น
        </p>
        <p>
          ในอดีตผมเคยมีประสบการณ์ในการเขียนโปรแกรมด้วยภาษา VB.NET, Python, Java
          และการสร้างเว็บไซต์ด้วย MySQL และ PHP
          ด้วยประสบการณ์เหล่านี้เองทำให้ผมสามารถต่อยอดความรู้กับภาษาโปรแกรมมิงอื่น
          ๆ ได้อีกด้วย
        </p>
        <p>
          นอกจากด้านการเขียนโปรแกรมแล้ว ผมยังมีประสบการณ์ในการปรับแต่งภาพด้วย
          Adobe Lightroom การตัดต่อคลิปวิดีโอด้วย Adobe Premiere Pro, Adobe
          After Effects และ VEGAS Pro และสามารถออกแบบงานศิลป์ด้วย Canva ได้
        </p>
      </div>

      <div
        class="flex flex-row flex-wrap items-center justify-center px-6 py-8 gap-2 md:gap-8 max-w-[40rem] bg-yellow-200/10 rounded-lg"
      >
        {skillImages.map((props) => <SkillImage {...props} />)}
      </div>
    </div>
  </Tweet>
</section>
