---
import SkillImage, {
  Props as SkillImageProps,
} from "../../components/SkillImage.astro";
import { classNames } from "@/utils";

import { defaultClassName } from "./statics";
import Tweet from "./Tweet.astro";

const images: SkillImageProps[] = [
  {
    src: "/logos/html5.svg",
    alt: "HTML5",
    href: "https://developer.mozilla.org/en-US/docs/Glossary/HTML5",
  },
  {
    src: "/logos/css3.svg",
    width: 42,
    height: 42,
    alt: "CSS3",
    href: "https://developer.mozilla.org/en-US/docs/Web/CSS",
  },
  {
    src: "/logos/javascript.png",
    width: 55,
    height: 55,
    alt: "JavaScript",
    href: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
  },
  {
    src: "/logos/nodejs.svg",
    width: 80,
    height: 60,
    alt: "Node.js",
    href: "https://nodejs.org/en",
  },
  {
    src: "/logos/react.svg",
    alt: "React",
    href: "https://react.dev/",
  },
  {
    src: "/logos/tailwindcss.svg",
    alt: "TailwindCSS",
    href: "https://tailwindcss.com/",
  },
  {
    src: "/logos/typescript.svg",
    alt: "TypeScript",
    href: "https://www.typescriptlang.org/",
  },
  {
    src: "/logos/firebase.svg",
    alt: "Firebase",
    href: "https://firebase.google.com/",
    width: 120,
    height: 60,
  },
  {
    src: "/logos/upstash.svg",
    alt: "Upstash Redis",
    href: "https://upstash.com/",
    width: 120,
    height: 60,
  },
  {
    src: "/logos/vercel.svg",
    alt: "Vercel",
    href: "https://vercel.com/",
    width: 120,
    height: 60,
  },
  {
    src: "/logos/docker.webp",
    alt: "Docker",
    href: "https://www.docker.com/",
  },
  {
    src: "/logos/vscode.svg",
    alt: "Visual Studio Code",
    href: "https://code.visualstudio.com/",
  },
  {
    src: "/logos/lightroom.svg",
    alt: "Adobe Lightroom",
    href: "https://www.adobe.com/th_en/products/photoshop-lightroom.html",
  },
  {
    src: "/logos/premiere-pro.svg",
    alt: "Adobe Premiere Pro",
    href: "https://www.adobe.com/th_en/products/premiere.html",
  },
  {
    src: "/logos/canva.svg",
    alt: "Canva",
    href: "https://www.canva.com/",
  },
];
---

<section id="tech-stack">
  <Tweet>
    <b>ทักษะต่าง ๆ</b>
    <div class="flex flex-col lg:flex-row gap-4 py-2 md:gap-8">
      <div class="space-y-3 max-w-2xl">
        <p>
          ปัจจุบันผมถนัดเขียนโปรแกรมด้วย JavaScript
          ไม่ว่าจะเป็นการเขียนเว็บไซต์ด้วย React อย่าง Next.js, Remix
          การเขียนโปรแกรมฝั่ง Server side ด้วย Node.js
          หรือการเขียนแอปพลิเคชันบนมือถืออย่าง React Native เป็นต้น
        </p>
        <p>
          ในอดีตผมเคยมีประสบการณ์ในการเขียนโปรแกรมด้วยภาษา VB.NET, Python, Java
          และการสร้างเว็บไซต์ด้วย MySQL และ PHP
          ด้วยประสบการณ์เหล่านี้เองทำให้ผมสามารถต่อยอดความรู้กับภาษาโปรแกรมมิงอื่น
          ๆ ได้อีกด้วย
        </p>
        <p>
          นอกจากด้านการเขียนโปรแกรมแล้ว ผมยังมีประสบการณ์ในการปรับแต่งภาพด้วย
          Adobe Lightroom การตัดต่อคลิปวิดีโอด้วย Adobe Premiere Pro, Adobe
          After Effects และ VEGAS Pro และสามารถออกแบบงานศิลป์ด้วย Canva ได้
        </p>
      </div>

      <div
        class="flex flex-row flex-wrap items-center justify-center px-6 py-8 gap-2 md:gap-8 max-w-[40rem] bg-yellow-200/10 rounded-lg"
      >
        {images.map((props) => <SkillImage {...props} />)}
      </div>
    </div>
  </Tweet>
</section>
