---
import SkillImage from "../../components/SkillImage.astro";
---

<section
  id="tech-stack"
  class="p-8 flex flex-col items-center justify-center bg-gray-100"
>
  <div
    class="flex flex-col items-center justify-center p-8 gap-10 max-w-[40rem]"
  >
    <h2 class="text-gray-600">Skills</h2>
    <div class="flex flex-row flex-wrap items-center justify-center gap-8">
      <SkillImage
        src="/logos/html5.svg"
        alt="HTML5"
        href="https://developer.mozilla.org/en-US/docs/Glossary/HTML5"
      />
      <SkillImage
        src="/logos/css3.svg"
        width={42}
        height={42}
        alt="CSS3"
        href="https://developer.mozilla.org/en-US/docs/Web/CSS"
      />
      <SkillImage
        src="/logos/javascript.png"
        width={55}
        height={55}
        alt="JavaScript"
        href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
      />
      <SkillImage
        src="/logos/nodejs.svg"
        width={80}
        height={60}
        alt="Node.js"
        href="https://nodejs.org/en"
      />
      <SkillImage
        src="/logos/react.svg"
        alt="React"
        href="https://react.dev/"
      />
      <SkillImage
        src="/logos/tailwindcss.svg"
        alt="TailwindCSS"
        href="https://tailwindcss.com/"
      />
      <SkillImage
        src="/logos/typescript.svg"
        alt="TypeScript"
        href="https://www.typescriptlang.org/"
      />
      <SkillImage
        src="/logos/firebase.svg"
        width={120}
        height={60}
        alt="Firebase"
        href="https://firebase.google.com/"
      />
      <SkillImage
        src="/logos/upstash.svg"
        width={120}
        height={60}
        alt="Upstash Redis"
        href="https://upstash.com/"
      />
      <SkillImage
        src="/logos/vercel.svg"
        width={120}
        height={60}
        alt="Vercel"
        href="https://vercel.com/"
      />
      <SkillImage
        src="/logos/docker.webp"
        alt="Docker"
        href="https://www.docker.com/"
      />
      <SkillImage
        src="/logos/vscode.svg"
        alt="Visual Studio Code"
        href="https://code.visualstudio.com/"
      />
      <SkillImage
        src="/logos/lightroom.svg"
        alt="Adobe Lightroom"
        href="https://www.adobe.com/th_en/products/photoshop-lightroom.html"
      />
      <SkillImage
        src="/logos/premiere-pro.svg"
        alt="Adobe Premiere Pro"
        href="https://www.adobe.com/th_en/products/premiere.html"
      />
      <SkillImage
        src="/logos/canva.svg"
        alt="Canva"
        href="https://www.canva.com/"
      />
    </div>
  </div>
</section>
