---
import { Image } from "@astrojs/image/components";
import { getI18nMarkdown } from "@/utils/i18n";
import Tweet from "./Tweet.astro";

const entry = await getI18nMarkdown("landing", "student-council-intro");
const { Content } = await entry.render();

const tweet = await getI18nMarkdown("landing", "student-council-tweet");
const { Content: TweetContent } = await tweet.render();
---

<section id="student-council-intro">
  <Tweet>
    <div class="space-y-2">
      <TweetContent />
    </div>
    <div class="relative h-full py-4">
      <div
        class="inline-block overflow-hidden absolute inset-0 w-full h-full z-[1]"
      >
        <article
          class="flex flex-col text-center items-center justify-center w-full p-4 md:p-8 h-full text-white space-y-2 md:space-y-4"
        >
          <Content />
        </article>
      </div>
      <div class="rounded-lg overflow-hidden">
        <Image
          src="/images/student-council/landing.jpg"
          class={"w-full h-[500px] object-cover object-[50%_70%] pointer-events-none opacity-75 blur-sm rounded-lg"}
          alt="Background of WPM School. Contains a logo and a motto in large label."
          width={1280}
          height={720}
        />
      </div>
    </div>
  </Tweet>
</section>
