---
import { Image } from "@astrojs/image/components";
---

<div class="flex flex-row items-start p-4 gap-4 border-b">
  <div class="flex-shrink-0">
    <Image
      src="/images/my-profile.jpg"
      class="w-full h-full rounded-full"
      alt="Sakditach Thanasodsai (Picture Profile)"
      width={60}
      draggable={false}
      height={60}
      position={"center"}
      fit="cover"
    />
  </div>
  <div class="flex flex-col flex-grow space-y-0.5">
    <div
      class="flex flex-row gap-2 py-1 items-center flex-wrap"
      title="@sakditachthanasodsai"
    >
      <b class="text-yellow-600">นายศักดิธัช ธนาสดใส (ซาน)</b>
      <span class="text-sm text-yellow-600/80">@sakditachthanasodsai</span>
    </div>
    <slot />
  </div>
</div>
