---
import { Image } from "@astrojs/image/components";
---

<div class="flex flex-row items-start p-4 gap-4">
  <div class="flex-shrink-0">
    <Image
      src="/images/my-profile.jpg"
      class="w-full h-full rounded-full max-w-[48px] md:max-w-none"
      alt="Sakditach Thanasodsai (Picture Profile)"
      width={60}
      draggable={false}
      height={60}
      position={"center"}
      fit="cover"
    />
  </div>
  <div class="flex flex-col flex-grow">
    <div
      class="flex flex-row gap-y-0.5 gap-x-2 pb-1 items-center flex-wrap"
      title="@sakditachthanasodsai"
    >
      <b>นายศักดิธัช ธนาสดใส (ซาน)</b>
      <span class="text-sm text-gray-500">@sakditachthanasodsai</span>
    </div>
    <div class="tweet-container">
      <slot />
    </div>
  </div>
</div>
