---
import BaseLayout from "../layouts/BaseLayout.astro";
import Landing from "../sections/Landing/index.astro";
---

<BaseLayout title="Index">
  <main class="flex flex-col">
    <Landing />
  </main>
</BaseLayout>
