---
import { astroI18n, t, l } from "astro-i18n";

import BaseLayout from "@/layouts/BaseLayout.astro";
import Landing from "@/sections/Landing/index.astro";

astroI18n.init(Astro);
---

<BaseLayout transparent title={t("index.title")}>
  <main
    class="scroll-my-6 scroll-smooth snap-y snap-proximity w-screen h-screen overflow-y-scroll md:text-lg"
  >
    <Landing />
  </main>
</BaseLayout>
