---
import "./styles/Intro.css";

import { Image } from "@astrojs/image/components";
import { classNames } from "@/utils";
import { defaultClassName } from "../statics";
import { getI18nMarkdown } from "@/utils/i18n";

const entry = await getI18nMarkdown("landing", "student-council-intro", {
  url: Astro.url,
});
const { Content } = await entry.render();
---

<section
  id="student-council-intro"
  class={classNames("relative overflow-hidden", defaultClassName)}
>
  <div class="inline-block overflow-hidden absolute w-full h-full z-[1] p-8">
    <article
      class="flex flex-col text-center items-center justify-center w-full md:p-8 h-full text-white"
    >
      <Content />
    </article>
  </div>
  <Image
    src="/images/student-council/landing.jpg"
    class={"w-full h-full object-cover min-h-screen object-center pointer-events-none opacity-75 blur-sm"}
    alt="Background of WPM School. Contains a logo and a motto in large label."
    width={1280}
    height={720}
  />
</section>
