---
import { Image } from "@astrojs/image/components";
import { getI18nMarkdown } from "@/utils/i18n";
import { l } from "astro-i18n";
import Tweet from "../Tweet.astro";

const { data } = await getI18nMarkdown("projects", "pm-station");
---

<section id="proud-to-present">
  <Tweet>
    <div class="space-y-2 w-full">
      <b>ผลงานที่ภูมิใจนำเสนอ</b>
      <div class="grid grid-cols-2 py-1 items-start">
        <div
          class="flex flex-col lg:flex-row bg-gray-50 rounded-lg shadow-lg w-full"
        >
          <div class="overflow-hidden">
            <Image
              src={data.image as string}
              class="rounded-l-lg w-full h-full object-cover object-left"
              alt={data.title}
              width={533}
              height={400}
              position={"left"}
              fit="cover"
            />
          </div>
          <div class="flex flex-col">
            <article class="flex flex-col gap-4 px-5 lg:px-6 py-6">
              <h3>{data.title}</h3>
              <p class="text-sm leading-6">{data.description}</p>
              <a
                href={l("/projects/pm-station")}
                class="btn text-sm text-center bg-black text-white hover:bg-gray-700 arrow-right"
              >
                ดูรายละเอียดเพิ่มเติม</a
              >
            </article>
          </div>
        </div>
      </div>
    </div>
  </Tweet>
</section>
