---
import "@fontsource/mitr/300.css";
import "@fontsource/mitr/400.css";
import "@fontsource/mitr/600.css";
import "../styles/globals.css";
const { title } = Astro.props.frontmatter || Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body class="font-light">
    <slot />
  </body>
</html>
